@{
  ViewBag.Title = "Page d'accueil";
}

<div class="jumbotron">
    <h1>Gestion des réceptions</h1>
</div>

@if(!User.Identity.IsAuthenticated) {
<div class="row">
    <div class="col-md-12">
        <p>Veuillez vous @Html.ActionLink("Identifier", "Login", "Home") pour continuer...</p>
    </div>
</div>
} else {
<div class="row">
    <div class="col-md-12">
        <p>
            Bienvenue @Session["FirstName"] @Session["LastName"].
            @if(User.IsInRole("Manager")) {
            <span>Vous commencez  @Html.ActionLink("ici", "Index", "Admin")</span>
            } else if(User.IsInRole("Client")) {
            <span>Vous commencez @Html.ActionLink("ici", "Index", "Client")</span>
            }
        </p>
    </div>
</div>
}
