@using CSharp.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Réceptions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Réceptions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.PutActiveTabMenu("Home", new string[] { "Index" }, "active")">@Html.ActionLink("Accueil", "Index", "Home")</li>
                    @{
                      if(User.Identity.IsAuthenticated) {
                          if(User.IsInRole("Manager")) {
                        <li class="dropdown @Html.PutActiveTabMenu("Reception", new string[] { "Index", "Create" }, "active")">
                            <a href="dropdown-toggle @Url.Action("Index", "Reception")" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Réceptions <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="@Html.PutActiveTabMenu("Reception", new string[] { "Index" }, "active")">@Html.ActionLink("Liste", "Index", "Reception")</li>
                                <li class="@Html.PutActiveTabMenu("Reception", new string[] { "Create" }, "active")">@Html.ActionLink("Nouvelle", "Create", "Reception")</li>
                            </ul>
                        </li>
                        <li class="@Html.PutActiveTabMenu("Client", new string[] { "Index" }, "active")">@Html.ActionLink("Clients", "Index", "Client")</li>
                        <li class="@Html.PutActiveTabMenu("Dish", new string[] { "Index" }, "active")">@Html.ActionLink("Plats", "Index", "Dish")</li>
                          }
                        <li class="@Html.PutActiveTabMenu("Home", new string[] { "Logout" }, "active")">@Html.ActionLink("Quitter", "Logout", "Home")</li>
                      } else {
                        <li class="@Html.PutActiveTabMenu("Home", new string[] { "Login" }, "active")">@Html.ActionLink("Identification", "Login", "Home")</li>
                      }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sébastien Adam</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
