@model IEnumerable<CSharp.Models.DishWishListItem>

@{
  ViewBag.Title = "Préférence de plat";
}

<h2>@ViewBag.Title</h2>

<p>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalNewDishWish">
        Nouvelle préférence
    </button>

</p>

<div class="modal fade" id="modalMainError" tabindex="-1" role="dialog" aria-labelledby="modalMainError">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myMainErrorModalLabel">Erreur</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" id="MainErrorMessage"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNewDishWish" tabindex="-1" role="dialog" aria-labelledby="modalNewDishWish">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myNewModalLabel">Nouvelle préférence</h4>
            </div>
            <div class="modal-body">
                <div id="NewAlertContainer"></div>
                <form id="FormNewDishWish">
                    @Html.Hidden("ClientId", Session["ClientId"].ToString(), new { id = "NewClientId" })
                    @Html.Hidden("ModifiedBy", Session["Acronym"].ToString(), new { id = "NewModifiedBy" })
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="NewDishTypeList" class="col-md-2 control-label">Type</label>
                            <div class="col-md-10">
                                <select class="form-control" id="NewDishTypeList">
                                    <option value="Starter">Entrée</option>
                                    <option value="MainDish">Plat principal</option>
                                    <option value="Dessert">Dessert</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NewDishId" class="col-md-2 control-label">Plat</label>
                            <div class="col-md-10">
                                <select class="form-control" id="NewDishId" name="DishId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NewFeelingTypeId" class="col-md-2 control-label">Appréciation</label>
                            <div class="col-md-10">
                                <input type="checkbox" name="FeelingTypeId" id="NewFeelingTypeId" value="1" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="J'aime" data-off="Je n'aime pas" data-width="100%">
                                <input type="hidden" name="FeelingTypeId" value="2" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="SubmitNewDishWish">Créer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUpdateDishWish" tabindex="-1" role="dialog" aria-labelledby="modalUpdateDishWish">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myUpdateModalLabel">Nouvelle préférence</h4>
            </div>
            <div class="modal-body">
                <div id="UpdateAlertContainer"></div>
                <form id="FormUpdateDishWish">
                    @Html.Hidden("ClientId", Session["ClientId"].ToString(), new { id = "UpdateClientId" })
                    @Html.Hidden("DishId", "", new { id = "UpdateDishId" })
                    @Html.Hidden("ModifiedBy", Session["Acronym"].ToString(), new { id = "UpdateModifiedBy" })
                    @Html.Hidden("ModifiedAt", "", new { id = "UpdateModifiedAt" })
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="UpdateDishType" class="col-md-4 control-label">Type</label>
                            <div class="col-md-8">
                                <p class="form-control-static" id="UpdateDishType"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="UpdateDishName" class="col-md-4 control-label">Plat</label>
                            <div class="col-md-8">
                                <p class="form-control-static" id="UpdateDishName"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="UpdateFeelingTypeId" class="col-md-2 control-label">Appréciation</label>
                            <div class="col-md-10">
                                <input type="checkbox" name="FeelingTypeId" id="UpdateFeelingTypeId" value="1" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="J'aime" data-off="Je n'aime pas" data-width="100%">
                                <input type="hidden" name="FeelingTypeId" value="2" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="SubmitUpdateDishWish">Modifier</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDeleteDishWish" tabindex="-1" role="dialog" aria-labelledby="modalDeleteDishWish">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myDeleteModalLabel">Suppression d'une préférence</h4>
            </div>
            <div class="modal-body">
                <div id="DeleteAlertContainer"></div>
                <form id="FormDeleteDishWish">
                    @Html.Hidden("ClientId", Session["ClientId"].ToString(), new { id = "DeleteClientId" })
                    @Html.Hidden("DishId", "", new { id = "DeleteDishId" })
                    @Html.Hidden("ModifiedAt", "", new { id = "DeleteModifiedAt" })
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="DeleteDishType" class="col-md-2 control-label">Type</label>
                            <div class="col-md-10">
                                <p class="form-control-static" id="DeleteDishType"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DeleteDishName" class="col-md-2 control-label">Plat</label>
                            <div class="col-md-10">
                                <p class="form-control-static" id="DeleteDishName"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DeleteFeeling" class="col-md-2 control-label">Appréciation</label>
                            <div class="col-md-10">
                                <p class="form-control-static" id="DeleteFeeling"></p>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="alert alert-danger" role="alert">
                    <p><strong>Êtes-vous sûr(e) de vouloir supprimer cette préférence&nbsp;?</strong></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-danger" id="SubmitDeleteDishWish">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDetailDishWish" tabindex="-1" role="dialog" aria-labelledby="modalDetailDishWish">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myDetailModalLabel">Détail d'un préférence</h4>
            </div>
            <div class="modal-body">
                <form id="FormDetailDishWish">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="DetailDishType" class="col-md-4 control-label">Type</label>
                            <div class="col-md-8">
                                <p class="form-control-static" id="DetailDishType"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DetailDishName" class="col-md-4 control-label">Plat</label>
                            <div class="col-md-8">
                                <p class="form-control-static" id="DetailDishName"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DetailFeeling" class="col-md-4 control-label">Appréciation</label>
                            <div class="col-md-8">
                                <p class="form-control-static" id="DetailFeeling"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DetailModifiedBy" class="col-md-4 control-label">Modifié par</label>
                            <div class="col-md-8">
                                <p class="form-control-static" id="DetailModifiedBy"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DetailModifiedAt" class="col-md-4 control-label">Dernière modification</label>
                            <div class="col-md-8">
                                <p class="form-control-static" id="DetailModifiedAt"></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<table class="table" id="DishWishTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Feeling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishName)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/DataTables")
    <script type="text/javascript">
        $(document).ready(function () {
            var errorOccured = '<div class="alert alert-danger alert-dismissible" role="alert" id="NewDishWishAlert">'+
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
                                'Une errur est survenue</div>';
            $('#DishWishTable').DataTable({
                language: {
                    url: '@Url.Content("~/Scripts/DataTables/French.json")'
                },
                serverSide: true,
                ajax: {
                    url: '@Url.Action("ToGrid","DishWish")',
                    type: 'POST',
                },
                lengthMenu: [[5, 10, 25, -1], ["Un peu", "Beaucoup", "Passionnément", "À la folie"]],
                columns: [
                    null,
                    null,
                    null,
                    { "orderable": false }
                ],
                fnDrawCallback : function() {
                    setDetailClick();
                    setUpdateClick();
                    setDeleteClick();
                }
            });
            $('#NewDishTypeList').change(function () {
                populateNewDishId();
                $('#NewAlertContainer').text('');
            });
            $('#NewDishId').change(function () {
                $('#NewAlertContainer').text('');
            });
            $('#NewFeelingTypeId').change(function () {
                $('#NewAlertContainer').text('');
            });
            $('#UpdateFeelingTypeId').change(function () {
                $('#UpdateAlertContainer').text('');
            });
            $('#modalNewDishWish').on('show.bs.modal', function (e) {
                populateNewDishId();
            });
            $('#modalNewDishWish').on('hidden.bs.modal', function (e) {
                $('#NewFeelingTypeId').bootstrapToggle('on')
                $('#NewAlertContainer').text('');
            });
            $('#modalDetailDishWish').on('hidden.bs.modal', function () {
                $('#modalDetailDishWish form p').each(function(){
                    $(this).text('');
                });
            })
            $('#modalUpdateDishWish').on('hidden.bs.modal', function () {
                $('#modalUpdateDishWish form p').each(function(){
                    $(this).text('');
                });
                $('#UpdateModifiedAt').val('');
                $('#UpdateDishId').val('');
                $('#UpdateAlertContainer').text('');
            });
            $('#modalDeleteDishWish').on('hidden.bs.modal', function () {
                $('#DeleteAlertContainer').text('');
            });
            $('#modalMainError').on('hidden.bs.modal', function () {
                $('#MainErrorMessage').text('');
            });
            $('#FormNewDishWish').submit(function (event) {
                $.ajax({
                    data: $('#FormNewDishWish').serialize(),
                    method: 'POST',
                    success: function (data) {
                        if(data.Message === 'OK') {
                            $('#modalNewDishWish').modal('hide');
                            $('#DishWishTable').DataTable().draw(false);
                        } else {
                            $('#NewAlertContainer').html(errorOccured);
                        }
                    },
                    url: '@Url.Content("~/Api/Diw")'
                });
                event.preventDefault();
            });
            $('#FormUpdateDishWish').submit(function (event) {
                $.ajax({
                    data: $('#FormUpdateDishWish').serialize(),
                    method: 'PUT',
                    success: function (data) {
                        if(data.Message === 'OK') {
                            $('#modalUpdateDishWish').modal('hide');
                            $('#DishWishTable').DataTable().draw(false);
                        } else {
                            $('#UpdateAlertContainer').html(errorOccured);
                        }
                    },
                    url: '@Url.Content("~/Api/Diw")'
                });
                event.preventDefault();
            });
            $('#FormDeleteDishWish').submit(function (event) {
                $.ajax({
                    data: $('#FormDeleteDishWish').serialize(),
                    method: 'DELETE',
                    success: function (data) {
                        if(data.Message === 'OK') {
                            $('#modalDeleteDishWish').modal('hide');
                            $('#DishWishTable').DataTable().draw(false);
                        } else {
                            $('#DeleteAlertContainer').html(errorOccured);
                        }
                    },
                    url: '@Url.Content("~/Api/Diw")'
                });
                event.preventDefault();
            });
            $('#FormDetailDishWish').submit(function (event) {
                event.preventDefault();
            });
            $('#SubmitNewDishWish').click(function () {
                $('#FormNewDishWish').submit();
            });
            $('#SubmitUpdateDishWish').click(function () {
                $('#FormUpdateDishWish').submit();
            });
            $('#SubmitDeleteDishWish').click(function () {
                $('#FormDeleteDishWish').submit();
            });
        });
        function setDeleteClick() {
            $('button.btn-delete').click(function(){
                var DishId = $(this).attr('id').replace('DishWishDeleteButton_','');
                $.ajax({
                    data : {target : 'Single', dishid : DishId, clientid : @Session["ClientId"].ToString() },
                    type:'GET',
                    url:'@Url.Content("~/Api/Diw")',
                    success: function(result) {
                        if((typeof result.Message) !== 'undefined') {
                            if(result.Message === 'EMPTY') {
                                $('#MainErrorMessage').text('Aucun élément ne correspont à votre sélecion.');
                                $('#modalMainError').modal('show');
                            } else {
                                $('#MainErrorMessage').text('Une erreur est survenue.');
                                $('#modalMainError').modal('show');
                            }
                        } else {
                            $('#DeleteDishType').text(result.DishType);
                            $('#DeleteDishName').text(result.DishName);
                            (result.FeelingTypeId === 1) ? $('#DeleteFeeling').text("J'aime") : $('#DeleteFeeling').text("Je n'aime pas");
                            $('#DeleteModifiedAt').val(result.ModifiedAt);
                            $('#DeleteDishId').val(result.DishId);
                            $('#modalDeleteDishWish').modal('show');
                        }
                    }
                })
            });
        }
        function setDetailClick() {
            $('button.btn-detail').click(function(){
                var DishId = $(this).attr('id').replace('DishWishDetailButton_','');
                $.ajax({
                    data : {target : 'Single', dishid : DishId, clientid : @Session["ClientId"].ToString() },
                    type:'GET',
                    url:'@Url.Content("~/Api/Diw")',
                    success: function(result) {
                        if((typeof result.Message) !== 'undefined') {
                            if(result.Message === 'EMPTY') {
                                $('#MainErrorMessage').text('Aucun élément ne correspont à votre sélecion.');
                                $('#modalMainError').modal('show');
                            } else {
                                $('#MainErrorMessage').text('Une erreur est survenue.');
                                $('#modalMainError').modal('show');
                            }
                        } else {
                            $('#DetailDishType').text(result.DishType);
                            $('#DetailDishName').text(result.DishName);
                            (result.FeelingTypeId === 1) ? $('#DetailFeeling').text("J'aime") : $('#DetailFeeling').text("Je n'aime pas");
                            $('#DetailModifiedAt').text(result.ModifiedAt);
                            $('#DetailModifiedBy').text(result.ModifiedBy);
                            $('#modalDetailDishWish').modal('show');
                        }
                    }
                })
            });
        }
        function setUpdateClick(){
            $('button.btn-edit').click(function(){
                var DishId = $(this).attr('id').replace('DishWishEditButton_','');
                $.ajax({
                    data : {target : 'Single', dishid : DishId, clientid : @Session["ClientId"].ToString() },
                    type:'GET',
                    url:'@Url.Content("~/Api/Diw")',
                    success: function(result) {
                        if((typeof result.Message) !== 'undefined') {
                            if(result.Message === 'EMPTY') {
                                $('#MainErrorMessage').text('Aucun élément ne correspont à votre sélecion.');
                                $('#modalMainError').modal('show');
                            } else {
                                $('#MainErrorMessage').text('Une erreur est survenue.');
                                $('#modalMainError').modal('show');
                            }
                        } else {
                            $('#UpdateModifiedAt').val(result.ModifiedAt);
                            $('#UpdateDishType').text(result.DishType);
                            $('#UpdateDishName').text(result.DishName);
                            $('#UpdateDishId').val(result.DishId);
                            (result.FeelingTypeId === 1) ? $('#UpdateFeelingTypeId').bootstrapToggle('on') : $('#UpdateFeelingTypeId').bootstrapToggle('off');
                            $('#modalUpdateDishWish').modal('show');
                        }
                    }
                })
            });
        }
        function populateNewDishId() {
            var type = $('#NewDishTypeList option:selected').val();
            $.ajax({
                data: { target: 'Select', type: type, unwished: 'Yes', clientid : @Session["ClientId"].ToString() },
                type: "GET",
                url: '@Url.Content("~/Api/Diw")',
                success: function (result) {
                    $('#NewDishId').html('');
                    $.each(result, function (idx, item) {
                        $('#NewDishId').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                    })
                }
            });
        }
    </script>
}
@section Styles{
    @Styles.Render("~/Content/JQueryUI/css")
    @Styles.Render("~/Content/DataTables/css")
}
